{% extends "layout.html" %}

{% block content %}
<section>
    <div class="container">
        <div class="entry-list single">
            <article>
                {% for entry in id %}
                    <h2>{{ entry.title}}</h2>
                    <div class="small">{{ entry.date.strftime('%B %d %I:%M %p') }},
                        Hours spent: {{ entry.time_spent }}</div>
                        {% for item in entry.learned.split('\n') %}
                            <p>{{ item }}</p>
                        {% endfor %}
                    {% if entry.remember != " " and entry.remember != "": %}
                        <p><u>Resources to Remember:</u><br>
                            {% for item in entry.remember.split('\n') %}
                                {% if "http" in item: %}
                                    {{ item|urlize(40, True, target="_blank") }}<br>
                                {% else: %}
                                    {{ item }} <br>
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                {% endfor %}
                <p>Tags:
                {% for tag in tags: %}
                    {{ tag.tags }}
                {% endfor %}
            </p>
            </article>
        </div>
    </div>
    <div class="edit">
        <p>
            <a href="{{ url_for('edit', id=id.id) }}">Edit Entry</a>
            <a href="{{ url_for('delete', id=id.id) }}">Delete Entry</a>
        </p>
    </div>
</section>
{% endblock %}