<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MyJournal</title>
        <link href="https://fonts.googleapis.com/css?family=Cousine:400" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="../static/css/site.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="{{ url_for('index') }}"><i class="material-icons">library_books</i></a>
                    <a class="button icon-right" href="new.html"><span>New Entry</span> <i class="material-icons">add</i></a>
                </div>
            </div>
        </header>
        <section>
            <div class="container">
                <div class="entry-list single">
                    <article>
                        {% for entry in id %}
                            <h2>{{ entry.title}}</h2>
                            <div class="small">{{ entry.date.strftime('%B %d %I:%M %p') }},
                                Hours spent: {{ entry.time_spent }}</div>
                                {% for item in entry.learned.split('\n') %}
                                    <p>{{ item }}</p>
                                {% endfor %}
                            {% if entry.remember != " ": %}
                                <p><u>Resources to Remember:</u><br>
                                    {% for item in entry.remember.split('\n') %}
                                        {% if "http" in item: %}
                                            {{ item|urlize(40, True, target="_blank") }}<br>
                                        {% else: %}
                                            {{ item }} <br>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        {% endfor %}
                    </article>
                </div>
            </div>
            <div class="edit">
                {% for entry in id: %}
                <p><a href="{{ url_for('edit', id=entry.id) }}">Edit Entry</a></p>
                {% endfor %}
            </div>
        </section>
        <footer>
            <div>
                &copy; MyJournal
            </div>
        </footer>
    </body>
</html>