<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MyJournal</title>
        <link href="https://fonts.googleapis.com/css?family=Cousine:400" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../../static/css/normalize.css">
        <link rel="stylesheet" href="../../static/css/site.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="{{ url_for('index') }}"><i class="material-icons">library_books</i></a>
                    <a class="button icon-right" href="{{ url_for('create') }}"><span>New Entry</span> <i class="material-icons">add</i></a>
                </div>
            </div>
        </header>
        <section>
            <div class="container">
                <div class="edit-entry">
                    <h2>Edit Entry</h2>
                    <!-- {% from 'macros.html' import render_field %} -->
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        {% set info = models.Entry.select().where(models.Entry.id==id).get() %}
                        <label for="title">Title</label>
                        {% set process = form.title.process_data(info.title) %}
                        {{ form.title() }}
                        <label for="date"> Date</label>
                        {% set process = form.date.process_data(info.date) %}
                        {{ form.date() }}
                        <label for="time_spent">Time Spent</label>
                        {% set process = form.time_spent.process_data(info.time_spent) %}
                        {{ form.time_spent() }}
                        <label for="learned">What I Learned</label>
                        {% set process = form.learned.process_data(info.learned) %}
                        {{ form.learned() }}
                        <label for="remember">Resources to Remember</label>
                        {% set process = form.remember.process_data(info.remember) %}
                        {{ form.remember() }}
                        <button type="submit" id="submit">Post!</button>
                        <a href="{{ url_for('index') }}" class="button button-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </section>
        <footer>
            <div>
                &copy; MyJournal
            </div>
        </footer>
    </body>
</html>